<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title %}{{ title }} ⚡︎ {% endif %}bloc.art</title>
    <style>
      html, body {
        text-align: left;
        font-family: monospace;
        margin: 20px;
        line-height: 1.8;
      }

      a {
        color: black;
      }

      a:hover {
        color: black;
        background-color: yellow;
      }

      #sketchContainer {
        max-width: 550px;
      }

      footer {
        margin-top: 50px;
        color: #aaa;
      }

      footer a {
        color: #aaa;
      }

      footer strong {
        color: #888;
      }

    </style>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.js"></script>
    <script src="https://unpkg.com/p5.createloop@0.2.8/dist/p5.createloop.js"></script>
  </head>
  <body>
    <header>
      <h1>
          {% if title %}
            <a href="/">bloc.art</a>
          {% else %}
            bloc.art
          {% endif %}

      </h1>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>

<nav>

{% for entry in entries %}
  <div>
    {%- if entry == currentEntry -%}
      <strong>{{entry.title}}</strong>
    {%- else -%}
      <a href="/{{ entry.baseFilename }}">{{entry.title}}</a>
    {% endif -%}
  </div>
{% else %}
  <div>
    Nothing here
  </div>
{% endfor %}

</nav>

    </footer>
  </body>
</html>