<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <style>
      html, body {
        text-align: left;
        font-family: monospace;
        padding: 20px;
      }
    </style>

  </head>
  <body>
    <header>
      <h1>{{title}}</h1>
    </header>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>