<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
    <style>
      html, body {
        text-align: left;
        font-family: monospace;
        margin: 10px;
      }
      canvas {
        width: 20%;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.js"></script>
    <script src="/setupSketch.js" type="module" ></script>
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>