<div class='sketch'>
  <div id="sketchContainer">
  <iframe id="sketchFrame"
    title="{{currentEntry.title}}"
    src="gen/"
    frameborder="0" 
    
    ></iframe>
    </div>
  <caption>
    <strong>{{currentEntry.title}}</strong>
  <br>
  <a href="https://github.com/burnto/sketches/blob/main/src/js/entries/{{currentEntry.filename}}">source</a>
  </caption>
</div>


<script>
  const frame = document.getElementById("sketchFrame");

  function matchHeightToWidth() {
    frame.style.height = frame.offsetWidth + "px";
  }
  window.addEventListener('DOMContentLoaded', matchHeightToWidth);
  window.addEventListener('resize', matchHeightToWidth);

</script>
