<div class='sketch'>
  <div id="sketchContainer"></div>
  <caption><a href="/sketches/{{currentSketch}}">{{currentSketch}}</a></caption>
</div>

<script type="module"> 
  import setupSketch from "/setupSketch.js";
  const s = import("/sketches/{{ currentSketch }}.js");
  setupSketch(s);
</script>