---
layout: "base.njk"
pagination:
    addAllPagesToCollections: true
    data: entries
    size: 1
    alias: currentEntry
eleventyComputed:
  title: "{{ currentEntry.title }}"
permalink: "/{{ currentEntry.baseFilename }}/"
---

{% include 'entry.njk' %}

