---
title: bloc.art
layout: "base.njk"
---


{% set currentSketch = sketches | first %}


<div class="row">
  <div class="col-xs">
      {% include 'sketchList.njk' %}
  </div>
  <div class="col-xs">
    {% include 'sketch.njk' %}
  </div>
</div>

