---
layout: "base.njk"
pagination:
    data: sketches
    size: 1
    alias: currentSketch
eleventyComputed:
  title: "{{ currentSketch }}"
permalink: "sketches/{{ currentSketch }}/"
---

<div class="row">
  <div class="col-xs-12">
    {% include 'sketch.njk' %}
  </div>
</div>

