---
title: bloc.art
layout: "base.njk"
pagination:
    data: sketches
    size: 1
    alias: currentSketch
permalink: "sketches/{{ currentSketch }}/"
---

<div class="row">
  <div class="col-xs-12 col-sm-3">
    <h1>bloc.art</h1>
    {% include 'sketchList.njk' %}
  </div>
  <div class="col-xs-12 col-sm-9">
    {% include 'sketch.njk' %}
  </div>
</div>

